body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(rgba(218, 0, 0, 0.8), rgba(25, 10, 5, 0.8)),
              url("img/port.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}


.logo {
    height: 40px;
    margin-top: 20px;
}

.text-description {
    letter-spacing: 2px;
    font-family: sans-serif;    
}

.form-control {
    background: transparent !important;
    color: #fff !important;
}

a .fab {
    color: #fc354c;
    font-size: 30px;
    margin: 0 10px;
}
.btn {
  background-color: black;
  color: #fc354c;
}